<%= link_to 'Yelp', restaurants_path, class: "yelp" %>
<div>Add a new restaurant</div>

<%= render 'form', restaurant: @restaurant %>

<%#= simple_form_for(@restaurant) do |f| %>
  <%#= f.input :name %>
  <%#= f.input :address %>
  <%#= f.input :phone_number %>
  <%#= f.input :category, as: :select, collection: %w(chinese italian japanese french belgian) %>
  <%#= f.submit 'Create', class: 'btn btn-primary' %>
  <%#= link_to 'cancel', restaurants_path, class: 'btn btn-default'  %>
<%# end %>
